.pricingTable{
  color: #454747;
  font-family: 'sans-serif';
  text-align: center;
  margin: 0 20px;
  transform: translateY(0);
  transition: all 0.3s ease 0s;
}
.pricingTable:hover{
  transform: translateY(-20px);
}
.pricingTable .pricingTable-header{
  color: #fff;
  text-transform: uppercase;
  margin-bottom: -15px;
}
.pricingTable .title{
  background: linear-gradient(to right, #e2b824,#c16807);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 10px;
  margin: 0 -25px;
  border-radius: 50px;
  box-shadow: 0 10px 15px #c16807;
  position: relative;
  z-index: 1;
}
.pricingTable .price-value{
  background: linear-gradient(to right,#e2b824,#c16807);
  width: 200px;
  height: 200px;
  padding: 45px 20px 0;
  border-radius: 50%;
  margin: 0 auto -65px;
  box-shadow: 0 10px 15px #c16807;
}
.pricingTable .price-value .amount{
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}
.pricingTable .price-value .month{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
}
.pricingTable .pricing-content{
  background: #fff;
  padding: 25px 15px;
  border-radius: 30px;
  box-shadow: 0 15px 15px rgba(0,0,0,0.2);
}
.pricingTable .pricing-content ul{
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}
.pricingTable .pricing-content ul li{
  font-size: 15px;
  line-height: 45px;
  border-bottom: 2px solid #e7e7e7;
  position: relative;
}
.pricingTable .pricing-content ul li svg{
  color: #338806;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}
.pricingTable .pricing-content ul li svg.fa-times-circle{
  color: #bb5057;
}
.pricingTable .pricing-content ul span{
  padding-left: 10px;
}
.pricingTable .pricingTable-signup{
  display: block;
  padding: 10px 0;
  margin: 15px 10px 0px 10px;
  border-radius: 15px;
  background: linear-gradient(to right,#e2b824,#c16807);
  box-shadow: 0 10px 15px #c18607;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.pricingTable .pricingTable-signup:hover{
  letter-spacing: 1px;
}

.pricingTable.pink .pricingTable-header .title,
.pricingTable.pink .price-value,
.pricingTable.pink .pricingTable-signup{
    background: linear-gradient(to right,#ef52d7,#a40a8c);
    box-shadow: 0 10px 15px #b207c1;
}
.pricingTable.blue .pricingTable-header .title,
.pricingTable.blue .price-value,
.pricingTable.blue .pricingTable-signup{
    background: linear-gradient(to right,#00a2f3,#0073b1);
    box-shadow: 0 10px 15px #0742c1;
}